



=======
**/.idea/
**/.vs/
**/Debug/
.exe
.zip
.rar
.cdp
.cbp
.depend
.layout
.user
.sln



*.pyc




3_курс/5_semester/Базы_Данных/Лабы/4/client_sql

3_курс/5_semester/ТСиСА/Курсовая/decision_making_system
