



=======
**/.idea/
**/.vs/
**/Debug/
.exe
.zip
.rar
.cdp
.cbp
.depend
.layout
.user
.sln



*.pyc



3_курс/5_семестр/
3_курс/6_семестр/




3_курс/5_семестр/Базы_Данных/Лабы/4/client_sql

3_курс/5_семестр/ТСиСА/Курсовая/decision_making_system
