[submodule "3_курс/5_семестр/ТСиСА/Курсовая/decision_making_system"]
	path = 3_курс/5_семестр/ТСиСА/Курсовая/decision_making_system
	url = https://github.com/Luzinsan/expert_system.git
[submodule "3_курс/5_семестр/Сети_и_Телекоммуникации/work_with_sockets"]
	path = 3_курс/5_семестр/Сети_и_Телекоммуникации/work_with_sockets
	url = https://github.com/Luzinsan/work_with_sockets.git